body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #222;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #28a745;
    color: white;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #28a745;
    color: white;
    padding: 10px;
}
